/* FONT FAMILY  
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif; */

body {
    font-family: 'Montserrat', sans-serif;
}

.lora-bold {
    font-family: 'Lora', serif;
    font-weight: 600;
}

.navbar {
    background-color: #171717;
}

.navbar-brand img {
    height: 55px;
}

.navbar-brand {
    margin-right: 7rem;
}

.collapse .nav-item a {
    margin-right: 1.875rem;
    color: #fff !important;
}

.collapse .nav-item a:hover {
    color: #e44002 !important;
    font-weight: 600;
}

#mycart {
    font-weight: 600;
}

.nav-link span {
    color: #e44002;
}

.carousel {
    height: 450px;
    background-color: #f9f9e1;
    margin-top: 5rem;
}

.carousel-item {
    color: #e44002;
}

.carousel-item p {
    line-height: 1.875rem;
}

.main-title {
    font-family: 'Lora', serif;
    font-weight: 600;
    font-style: italic;
}

#cta-carousel {
    font-weight: 600;
    background-color: #e44002 !important;
}

.features h3,
.our-designer h3,
.similar-product h3,
.your-cart h3 {
    color: #1926a4;
    font-family: 'Lora', serif;
    font-weight: 600;
}

.features p,
.our-designer p,
.similar-product p,
.your-cart p {
    color: #a2a2a2;
    font-size: 1.125rem;
}

.figure-caption h4 {
    font-size: 1.125rem;
    font-weight: 600;
    font-family: 'Lora', serif;
}

.figure-caption p {
    font-size: 0.875rem;
    font-weight: 300;
}

.figure-img {
    position: relative;
}

.figure-img a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}

.figure-img a:hover {
    opacity: 1;
}

#social-media a {
    text-decoration: none;
}

.footer-copyright {
    color: #e44002;
    font-size: 1.125rem;
}

.footer-copyright span {
    font-weight: 600;
}

footer .nav a {
    color: #e44002;
}

footer .nav a:hover {
    color: #1926a4;
    font-weight: bold;
}

/* memulai halaman single page */
nav[aria-label='breadcrumb'] {
    margin-top: 6rem;
}

.breadcrumb {
    font-family: 'Lora', serif;
    font-weight: 600;
}

.breadcrumb a {
    color: #1926a4;
}

.single-product .figure-caption {
    background-color: #f5f5f5;
    width: 380px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 8px;
    margin: auto;
    transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -o-transform: translateY(-60px);
}

.single-product .figure-caption a:hover {
    text-decoration: none;
}

.icon-minus {
    background-color: #687980;
}

.btn-product {
    margin: 2.8rem 0;
}

.btn-product .btn {
    display: block;
    margin: 10px 0;
}

.btn-product .btn-cart {
    color: #fff;
    background-color: #e44002;
}

.btn-product .btn-wishlist {
    color: #fff;
    background-color: #c8c8c8;
}

h3.lora-bold {
    color: #687980;
}

.price {
    color: #a2a2a2;
}

.design-by h5.lora-bold {
    font-size: 1.125rem;
    color: #a2a2a2;
}

.design-by p {
    color: #a2a2a2;
    font-size: 0.875rem;
}

.design-by p span {
    color: #171717;
    font-weight: 700;
}

hr + h4.lora-bold {
    font-size: 1.125rem;
    color: #687980;
}

.product-description {
    background-color: #f5f5f5;
    height: 300px;
}

.product-description .nav {
    background-color: #fff;
    color: #171717 !important;
}

.product-description .tab-content {
    height: 250px;
    overflow: auto;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-top: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.16);
}

.product-description .tab-content::-webkit-scrollbar {
    width: 5px;
}

.product-description .tab-content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.product-description .tab-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.product-description .tab-content p {
    color: #a2a2a2;
    font-size: 0.75rem;
}

.product-review h5 {
    font-size: 0.875rem;
}

.product-review p {
    font-size: 0.75rem;
}

.similar-product {
    margin-top: 23vh;
}

/* akhir halaman similar product */
/* halaman cart */
.your-cart {
    margin-top: 9vh;
}
/* akhir halaman cart */
nav[class='purchase'] {
    margin-top: 2rem;
}

.checkout h6 {
    color: #687980;
    font-weight: 600;
}

.checkout p {
    color: #a2a2a2;
}

.checkout .checkout-unit-payment {
    margin-bottom: 15vh;
}

.checkout-detail {
    background-color: #f5f5f5;
    color: #171717;
}

.checkout-detail h5 {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 1.125rem;
}

.checkout-detail h6 {
    font-size: 1.125rem;
    color: #171717;
}

.button-checkout a {
    color: #fff;
}

.button-checkout .checkout-btn {
    background-color: #e44002;
}

.button-checkout .checkout-btn:hover {
    color: #fff;
    background-color: rgba(228, 64, 2, 0.85);
}

.modal-content h3 {
    color: #1926a4;
    font-family: 'Lora', serif;
    font-weight: 600;
}

.modal-content a {
    width: 165px;
}
